<div class="card">
    <%= form_with model: model, local: :true do |f|  %>
        <%= f.text_field :username, placeholder: "Username"%>
        <%= f.text_field :email, placeholder: "Email"%>
        <%= f.password_field :password, placeholder: "Password"%>
        <%= f.text_field :about, placeholder: "Write a description of your store here. What do you sell? Why? Is it home made?"%>
        <%= f.text_field :location, placeholder: "location"%><br>
        <%= f.submit button %>
    <% end %>
</div>
