<!DOCTYPE html>
<html>
  <head>
    <title>CreatedToSell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1><%= link_to "CreatedToSell", "/"%></h1>

    <ul class = "nav">
      <li><%=link_to "LogIn", login_path%>
      <li><%= link_to "User Signup", new_user_path %>
      <li><%= link_to "Creator Signup", new_creator_path %>
    </ul>
  </header>

  <main>  
    <%= yield %>
  </main>

  <%= render partial:"/layouts/footer" %>
  </body>
</html>
