<!DOCTYPE html>
<html>
  <head>
    <title>CreatedToSell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h1><%= link_to "CreatedToSell", "/"%></h1>

    <ul class = "nav">
      <li> <%= link_to "Home", user_path(current_user)  %>
      <li> <%= link_to "Find Merchandise", merchandises_path %>
      <li> <%= link_to "Creators", creators_path %>
      <li> <%= link_to "Sale History", user_sales_path(current_user) %>
      <li> <%= link_to "Logout", logout_path %>
    </ul>
  </header>

  <main>  
    <%= yield %>
  </main>

  <%= render partial:"/layouts/footer" %>

  </body>
</html>
